.thisBtn {
  margin-top: -10px;
}

.card {
  opacity: .88;
  border-radius: 25px;
}

.details {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'Rambla', sans-serif;
}

.img {
  border-radius: 25px 0 0 25px;
}

