.trash, .editButton, .select {
  cursor: pointer;
}

.card {
  height: 100%;
  width: 75%;
  margin-left: 13%;
}

.childDetails {
  font-size: 20px;
  color: rgb(61, 18, 18);
  font-family: 'Fredoka One', cursive;
}

.testing {
  margin-top: -40px;
}

.card-block {
  margin: 50px;
}