.Resources {
  background-image: url("https://media.swncdn.com/cms/RT/47396-homeschool-monkeybusinessimages-facebook.800w.tn.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
  height: 100%; 
}

.builder {
	margin-top: 20px;
}