.mainHome {
  background-image: url("https://static.abbottnutrition.com/cms-prod/abbottfamily.com.sg/img/shutterstock_193132865-1_tcm150-45269.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
  height: 680px;
}

.homePage {
  height: 550px;
}

.continueBtn, .profileBtn {
  margin-top: 150px;
  margin-bottom: 300px;
}

.fa-plus-square {
  margin-left: 180px;
}

.buttonText {
  color: white;
  margin-left: 250px;
}

.buttonText2 {
  color: black;
}
