.SelectedProfile {
  background-image: url("https://scontent-yyz1-1.cdninstagram.com/vp/565bf85ab4cdaf7efaf368226b290450/5D003076/t51.2885-15/e35/50533026_2586048911422150_2644586564115659653_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&se=8");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.backToProfiles {
  height: 60px;
  width: 250px;
  font-size: 22px;
  padding: 12px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Fredoka One', cursive;
}

.backToBooks {
  height: 60px;
  width: 250px;
  font-size: 22px;
  padding: 12px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Fredoka One', cursive;
}