.ChildProfile {
  background-image: url("https://static1.squarespace.com/static/58fe451a893fc0b6dfd06137/t/592592ba9f7456031209faf0/1495635021050/jordan-whitt-54480.jpg?format=2500w");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.profiles {
	border: 3px rgb(191, 206, 247) solid;
}

h1 {
	background-color: rgb(108, 158, 235);
	opacity: .8;
	width: 50%;
	border-radius: 20px;
	margin-left: 370px;
	font-family: 'Fredoka One', cursive;
}
